@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#fff;
    --accent-color:#8DE54C;
    --secondary-color:#000;
}
.dark-theme{
    --primary-color:#000;
    --accent-color:#8DE54C;
    --secondary-color:#fff;
}
.ham{
    display: block !important;
}